{% extends "main.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Додати рекрутера</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email рекрутера</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="text-danger">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_first_name" class="form-label">Ім'я</label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                        <div class="text-danger">{{ form.first_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_last_name" class="form-label">Прізвище</label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                        <div class="text-danger">{{ form.last_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Пароль</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="text-danger">{{ form.password.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_confirm_password" class="form-label">Підтвердження пароля</label>
                    {{ form.confirm_password }}
                    {% if form.confirm_password.errors %}
                        <div class="text-danger">{{ form.confirm_password.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-success">Додати рекрутера</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
